title = "Blank overview"
url = "/"
layout = "default"
==
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Usage</h1>
                <p>Here is described usage of Test Blank.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h2>Usage</h2>
    </div>

    <!-- Theme -->
    <h3>Theme and plugin</h3>
    <p>
        To make your test tasks you can use Blank theme and Blank plugin. It's created for this purpose.
        You can find it in the <code>themes/blank</code> and <code>plugins/test/blank</code> directories.
    </p>

    <hr />

    <!-- Assets -->
    <h3>Assets</h3>
    <p>
        You can use Bootstrap, JQuery, Font Awesome. It's already included to Blank theme. You can find assets here:
        <code>themes/blank/assets</code>
    </p>

    <hr />

    <!-- Images -->
    <h3>Images</h3>
    <p>
        To provide images for test instances you can use service
        <a href="https://placeholder.com">https://placeholder.com</a> or the similar. Like this:
    </p>
    <p>
        <img src="http://via.placeholder.com/350x150" alt="placeholder">
    </p>

    <hr />

    <!-- Assets -->
    <h3>Less</h3>
    <p>
        To compile Less-files of the project can use <code>less.sh</code> that you can find in root directory.
    </p>

    <hr />

    <!-- Products -->
    <h3>Products</h3>
    <p>
        Products table already created and filled with fake items. You can find model here: <code>plugins/test/blank/models</code>.
    </p>

</div>
