<h1>October overview</h1>
<p>
    This page demonstrates the basic CMS features.
    Usually each page built with October is a combination of a layout, page, partials and content blocks,
    although in simple cases you can just use a page without anything else.
</p>
